
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

//Font Awesome
$fa-font-path: "../fonts";
@import "node_modules/font-awesome/scss/font-awesome";


// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



//  $$$$$$\   $$$$$$\  $$\   $$\ $$$$$$$$\ $$$$$$$\   $$$$$$\   $$$$$$\ $$$$$$$$\  $$$$$$\  $$$$$$$\  $$$$$$$$\        $$$$$$\   $$$$$$\   $$$$$$\  
// $$  __$$\ $$  __$$\ $$$\  $$ |\__$$  __|$$  __$$\ $$  __$$\ $$  __$$\\__$$  __|$$  __$$\ $$  __$$\ $$  _____|      $$  __$$\ $$  __$$\ $$  __$$\ 
// $$ /  \__|$$ /  $$ |$$$$\ $$ |   $$ |   $$ |  $$ |$$ /  $$ |$$ /  \__|  $$ |   $$ /  \__|$$ |  $$ |$$ |            $$ /  \__|$$ /  \__|$$ /  \__|
// $$ |      $$ |  $$ |$$ $$\$$ |   $$ |   $$$$$$$  |$$$$$$$$ |$$ |        $$ |   $$ |      $$$$$$$  |$$$$$\          $$ |      \$$$$$$\  \$$$$$$\  
// $$ |      $$ |  $$ |$$ \$$$$ |   $$ |   $$  __$$< $$  __$$ |$$ |        $$ |   $$ |      $$  ____/ $$  __|         $$ |       \____$$\  \____$$\ 
// $$ |  $$\ $$ |  $$ |$$ |\$$$ |   $$ |   $$ |  $$ |$$ |  $$ |$$ |  $$\   $$ |   $$ |  $$\ $$ |      $$ |            $$ |  $$\ $$\   $$ |$$\   $$ |
// \$$$$$$  | $$$$$$  |$$ | \$$ |   $$ |   $$ |  $$ |$$ |  $$ |\$$$$$$  |  $$ |   \$$$$$$  |$$ |      $$$$$$$$\       \$$$$$$  |\$$$$$$  |\$$$$$$  |
//  \______/  \______/ \__|  \__|   \__|   \__|  \__|\__|  \__| \______/   \__|    \______/ \__|      \________|       \______/  \______/  \______/ 
                                                                                                                                                 
                                                                                                                                                 
                                                                                                                                                 
html{
    -ms-content-zooming: none; /* Disables zooming */
    touch-action: none;   /* Disable any special actions on tap/touch */
}
body{
    -webkit-touch-callout: none;
    user-select: none;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.5 !important;
    color: #444444 !important;
    background-color: #ffffff !important;
}
div, span, ul, li, input{
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -ms-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}
html, body{
    overflow: hidden;
    height: 100%;
    width: 100%;
}
p{
    text-align: justify;
}
.col-no-padding{
    padding-left: 0px !important; 
    padding-right: 0px !important; 
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    background-image: none !important;
}
#contenedor-principal{
    padding: 0;
    /*background-color: #DBDBDB;*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#barra{
    color: #FFFFFF;
    background-color: #2F2F2F;
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}
#boton_menu, #boton_atras{
    display: none;
    flex-grow: 0;
    flex-shrink: 0;
}
#titulo-app{
    flex-grow: 10;
    flex-shrink: 2;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -ms-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
    text-align: center;
}
#barra-seccion-usuario{
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #1C5C76;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0px 0px 0px 40px;
}
#barra-nombre-usuario{
    cursor: pointer;
    white-space: nowrap;
    flex-grow: 1;
    align-self: center;
    text-align: right;
    padding-right:10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#barra-img-usuario{
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-color: #8D8D8D;
    border-radius: 50px;
    align-self: center;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}
#barra-info-usuario{
    width: 300px;
    /* height: 500px; */
    background-color: rgba(30, 30, 30, 0.95);
    border-radius: 10px;
    position: absolute;
    top: 65px;
    right: 10px;
    visibility:hidden;
    opacity:0;
    transition: visibility 150ms linear,opacity 150ms linear;
    transition-delay: 100ms;
    display: flex;
    flex-direction: column;
    padding: 15px;
    line-height: 150%;
    /* backdrop-filter: blur(0px); */
}
#barra-seccion-usuario:hover > #barra-info-usuario{
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}

#info-img-usuario{
    background-color: #478C9D;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    text-align: center;
    border-radius: 50px;
    align-self: center;
    flex-grow: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#info-nombre-usuario{
    flex-grow: 1;
    align-self: center;
}

#info-rol-usuario{
    flex-grow: 1;
    align-self: center;
}

#info-mail-usuario{
    flex-grow: 1;
    align-self: center;
}


/*  */
/*  */
/*  */

.titulo-out{
    opacity: 0 !important;
}

.fixed_top_element{
    position: fixed !important;
    top: 60px;
}

#contenedor-pagina{
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    margin-left: 250px;
    width: calc(100% - 250px);
    height: calc(100% - 60px);
    margin-top: 60px;
    text-align: justify;
    padding-top: 20px;
    will-change: transform;
    will-change: opacity;
    scroll-behavior: smooth;
}
/* Menu inicial de cada seccion */
.col-menu-btn{
    margin-top: 25px;
    margin-bottom: 25px;
}
.item_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0; 
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    
    -webkit-animation: seccion_menu_item_in 500ms forwards;
    -moz-animation: seccion_menu_item_in 500ms forwards;
    -ms-animation: seccion_menu_item_in 500ms forwards;
    -o-animation: seccion_menu_item_in 500ms forwards;
    animation: seccion_menu_item_in 500ms forwards;
}

#contenedor-pagina>div>.col-menu-btn:nth-child(1)>.item_menu {animation-delay: 50ms;}
#contenedor-pagina>div>.col-menu-btn:nth-child(2)>.item_menu {animation-delay: 150ms;}
#contenedor-pagina>div>.col-menu-btn:nth-child(3)>.item_menu {animation-delay: 250ms;}
#contenedor-pagina>div>.col-menu-btn:nth-child(4)>.item_menu {animation-delay: 350ms;}
#contenedor-pagina>div>.col-menu-btn:nth-child(5)>.item_menu {animation-delay: 450ms;}
#contenedor-pagina>div>.col-menu-btn:nth-child(6)>.item_menu {animation-delay: 550ms;}
#contenedor-pagina>div>.col-menu-btn:nth-child(7)>.item_menu {animation-delay: 650ms;}
#contenedor-pagina>div>.col-menu-btn:nth-child(8)>.item_menu {animation-delay: 750ms;}
#contenedor-pagina>div>.col-menu-btn:nth-child(9)>.item_menu {animation-delay: 850ms;}
#contenedor-pagina>div>.col-menu-btn:nth-child(10)>.item_menu {animation-delay: 950ms;}

.item_menu>.icono_item_menu{
    width: 150px;
    height: 150px;
    background-color: #E9E9E9;
    color: #004F70;
    border-radius: 150px;
    line-height: 150px;
    font-size: 80px;        
    flex-grow: 0;
    flex-shrink: 0;
}
.item_menu>.icono_item_menu, .item_menu>.icono_item_menu > i{
    -webkit-transition: -webkit-box-shadow 250ms, -webkit-transform 250ms, color 250ms;
    -moz-transition: -moz-box-shadow 250ms, -moz-transform 250ms, color 250ms;
    -ms-transition: -ms-box-shadow 250ms, -ms-transform 250ms, color 250ms;
    -o-transition: -o-box-shadow 250ms, -o-transform 250ms, color 250ms;
    transition: box-shadow 250ms, transform 250ms, color 250ms;
}
.item_menu>.icono_item_menu:hover{
    -webkit-box-shadow: 0px 6px 20px -5px #000000;
    -moz-box-shadow: 0px 6px 20px -5px #000000;
    -ms-box-shadow: 0px 6px 20px -5px #000000;
    -o-box-shadow: 0px 6px 20px -5px #000000;
    box-shadow: 0px 6px 20px -5px #000000;
}
.item_menu>.icono_item_menu:hover > i{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    color: #006C99;     
}
.item_menu>.icono_item_menu:hover + .texto_item_menu{
    background-color: #006C99;
}
.item_menu>.texto_item_menu{
    margin-top: 10px;
    background-color: #004F70;
    color: #FFFFFF;
    max-width: 110%;        
    border-radius: 15px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    -webkit-transition: color 250ms, background-color 250ms;
    -moz-transition: color 250ms, background-color 250ms;
    -ms-transition: color 250ms, background-color 250ms;
    -o-transition: color 250ms, background-color 250ms;
    transition: color 250ms, background-color 250ms;
}


/*mensajes de error de laravel*/
.sf-reset{
    width: 100% !important; 
    word-wrap: break-word !important;
}
#icono-repositorio-inicio{
    margin-top: 50px; 
    text-align: center;
}
#icono-repositorio-inicio>img,
#icono-repositorio-inicio>svg {
    width: 30%;
}
#overlay-menu{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    -ms-transition: opacity 250ms;
    -o-transition: opacity 250ms;
    transition: opacity 250ms;    
}
.overlay-opacity{
    opacity: 0.70 !important;    
}
.overlay-visible{
    visibility: visible !important;
    /*background-color: rgba(0,0,0,0.8) !important;*/
}
#menu-lateral{
    position: fixed;
    z-index: 100;
    width: 250px;
    left: 0;
    top: 60px;
    height: calc(100% - 60px);
    background-color: #2F2F2F;
    color: #FFFFFF;
    max-width: 100%;
    will-change: transform;
    will-change: opacity;
    -webkit-transition: -webkit-transform 400ms;
    -moz-transition: -moz-transform 400ms;
    -ms-transition: -ms-transform 400ms;
    -o-transition: -o-transform 400ms;
    transition: transform 400ms;
    -webkit-box-shadow: -1px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 30px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /*overflow-y: auto;   */
}
#menu-seccion-usuario{
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #1C5172;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    display: none;
}
#img-perfil-usuario{    
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 100%;
    background-color: #4B4B4B;
    margin: auto;
    text-align: center;
    font-size: 50px;
}
#menu-usuario-nombre{
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#menu-usuario-rol{
    font-size: 14px;
}
#menu-opciones-usuario{
    /*padding: 10px;*/
    height: 100px;
    width: 100%;
    /*background-color: #9600D4;*/
    -webkit-box-shadow: inset 0px 0px 29px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 29px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 29px 0px rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    display: none;
}
.opcion-usuario{
    position: relative;
    text-align: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 10px;
    margin-top: 0px;
    background-color: #CFCFCF;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,1);
}
.rojo-opc{
    color: #B60000;    
}
.rojo-opc:hover{
    color: #8F0000;
}
.opcion-usuario>.opcion-leyenda{
    font-size: 15px;
    position: absolute;
    /*width: 100%;*/
    top: calc(100% + 5px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    height: 15px;
    line-height: 15px;
    color: #CFCFCF;
    /*background-color: #CFCFCF;*/
    /*padding-right: 5px;*/
    /*padding-left: 5px;*/
    /*border-radius: 10px;*/
}
#menu-seccion-principal{
    position: absolute;
    width: 100%;
    height: calc(100%);
    top: 0px;
    background-color: #2F2F2F;
    -webkit-transition: -webkit-transform 400ms;
    -moz-transition: -moz-transform 400ms;
    -ms-transition: -ms-transform 400ms;
    -o-transition: -o-transform 400ms;
    transition: transform 400ms;
    will-change: transform;
}
#menu-btn-opciones{
    display: none;
    width: 100%;
    height: 0px;
    font-size: 30px;
    top: 0;
    left: 0;
    background-color: #1C5172;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    -webkit-transition: height 500ms;
    -moz-transition: height 500ms;
    -ms-transition: height 500ms;
    -o-transition: height 500ms;
    transition: height 500ms;
}
#menu-btn-opciones > i{
    -webkit-transition: -webkit-transform 400ms;
    -moz-transition: -moz-transform 400ms;
    -ms-transition: -ms-transform 400ms;
    -o-transition: -o-transform 400ms;
    transition: transform 400ms;
    will-change: transform;    
}
.mostrar-boton-opc-menu{
    height: 30px !important;
    line-height: 30px;
}
.mostrar-opciones-usuario{
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);    
}
.mostrar-opciones-usuario > #menu-btn-opciones > i{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);    
}
#contenido-menu{
    /*background-color: #950000;*/
    overflow: auto;
    font-size: 18px;
    height: calc(100% - 30px);
}
#contenido-menu > ul{
    list-style: none;
    padding: 0;
}
#contenido-menu > ul > li{
    /*background-color: #676767;*/
    /* padding: 10px; */
    padding-left: 20px; 
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    -o-transition: background-color 250ms;
    transition: background-color 250ms;
}
#contenido-menu > ul > li:first-child{
    margin-top: 10px;
}
#contenido-menu > ul > li.separador{
    border-bottom: 1px #212121 solid;
    padding: 0px;
    /* margin: 10px; */
}
#contenido-menu > ul > li:hover{
    background-color: #595959;
}
#contenido-menu > ul > li > a{
    color: #E6E6E6;
    text-decoration: none;
}
#contenido-menu > ul > li > a > div{
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
.menu-activo{
    background-color: #595959;
}
.menu-activo > a{
    color: #00FFF5 !important;
}
/* visited link */
#contenido-menu > ul > li > a:visited {
    color: #E6E6E6;
}

/* mouse over link */
#contenido-menu > ul > li:hover > a{
    color: #00FFF5;
}
/* selected link */
#contenido-menu > ul > li > a:active {
    color: #FFFFFF;
}
.menu_user_login, .menu_user_sign{
    display: none;
}
#menu-candadito{
    color: #3c3c3c;
    font-size: 180px;
    text-align: center;
    margin-top: 15%;
}

.link_dinamico{

}
#menu-lateral .mensaje-menu{
    background-color: #532B2B !important;
    color: #FFE2E2 !important;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-family: 'lucida console';
    font-size: 13px;
}
.ocultar-menu{
    -webkit-transform: translateX(-121%) !important;
    -moz-transform: translateX(-121%) !important;
    -ms-transform: translateX(-121%) !important;
    -o-transform: translateX(-121%) !important;
    transform: translateX(-121%) !important;
}
#indicador_cargando{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 100px;
    border-color: transparent transparent #262626 transparent;
    -webkit-transform: translate(100%,100%);
    -moz-transform: translate(100%,100%);
    -ms-transform: translate(100%,100%);
    -o-transform: translate(100%,100%);
    transform: translate(100%,100%);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    will-change: transform;
}
.cargando-on{
    -webkit-transform: translate(0,0) !important;
    -moz-transform: translate(0,0) !important;
    -ms-transform: translate(0,0) !important;
    -o-transform: translate(0,0) !important;
    transform: translate(0,0) !important;
}
.cargando-on > .spin{
    border-top-color: #3FEBFF;
    border-bottom-color: #3FEBFF;
    -webkit-animation: rotar 1s linear infinite !important;
    -moz-animation: rotar 1s linear infinite !important;
    -ms-animation: rotar 1s linear infinite !important;
    -o-animation: rotar 1s linear infinite !important;
    animation: rotar 1s linear infinite !important;
}
.desvanecer-overlay{
    -webkit-animation: desvanecer_overlay 500ms forwards;
    -moz-animation: desvanecer_overlay 500ms forwards;
    -ms-animation: desvanecer_overlay 500ms forwards;
    -o-animation: desvanecer_overlay 500ms forwards;
    animation: desvanecer_overlay 500ms forwards;  
}
.desvanecer-pagina{
    -webkit-animation: desvanecer-pagina 300ms forwards;
    -moz-animation: desvanecer-pagina 300ms forwards;
    -ms-animation: desvanecer-pagina 300ms forwards;
    -o-animation: desvanecer-pagina 300ms forwards;
    animation: desvanecer-pagina 300ms forwards;  
}
.aparecer-pagina{
    -webkit-animation: aparecer-pagina 300ms forwards;
    -moz-animation: aparecer-pagina 300ms forwards;
    -ms-animation: aparecer-pagina 300ms forwards;
    -o-animation: aparecer-pagina 300ms forwards;
    animation: aparecer-pagina 300ms forwards;  
}

/******************/
/** FORMULARIOS  **/
/******************/
.col-form-ch{
    margin-top: 50px;
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 30px 2px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 10px 30px 2px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 10px 30px 2px rgba(50, 50, 50, 0.75);
}
.col-form-ch>form{
    height: auto;
    position: relative;
}

.col-form-ch .form-error-msg{
    width: 100%;
    max-height: 0px;
    border-radius: 10px;
    background-color: #e0a9a9;
    text-align: center;
    color: #9e0000;
    overflow: hidden;
    -webkit-transition: max-height 600ms;
    -moz-transition: max-height 600ms;
    -ms-transition: max-height 600ms;
    -o-transition: max-height 600ms;
    transition: max-height 600ms;
}
.col-form-ch .form-error-msg.mostrar-errores{
    max-height: 150px !important;
    overflow: auto;
}
.col-form-ch .form-error-msg>p{
    margin: 15px;
}
.help-block{

}
.help-block-visible{
     
}

/******************/
/**    Toggles   **/
/******************/

.switch-checkbox{
        margin: 0px;
    }
    .switch-checkbox > input {
        display: none;
    }
    .switch-checkbox i.tgl-i {
        display: inline-block;
        padding: 4px;
        width: 45px;
        height: 15px;
        border-radius: 30px;
        vertical-align: middle;
        -webkit-transition: .25s .09s;
        transition: .25s .09s;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid #3F3F3F;
        box-sizing: initial;
        cursor: pointer;
    }
    .switch-checkbox i.tgl-i:after {
        content: " ";
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #3F3F3F;
        position: absolute;
        left: 4px;
        -webkit-transition: .25s;
        transition: .25s;
    }
    .switch-checkbox > input:checked + i.tgl-i {
        background-color: #4bd865;
        border: 2px solid #4bd865;
    }
    .switch-checkbox > input:checked + i.tgl-i:after {
        background-color: #FFFFFF;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
    .disabled-tgl + i.tgl-i{
        cursor: not-allowed;
        border: 2px solid #777777;
    }
    .disabled-tgl + i.tgl-i:after{
        background-color: #777777;
    }
    .disabled-tgl:checked + i.tgl-i{
        cursor: not-allowed;
        background-color: #62DA78 !important;
        border: 2px solid #62DA78 !important;
    }
    .disabled-tgl:checked + i.tgl-i:after{
        background-color: #FFFFFF !important;
    }
    .fail-tgl{
        background-color: #FF4747 !important;
    }


/******************/
/** MEDIA QUERYS **/
/******************/
@media only screen and (max-width : 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {    
    #contenido-menu > ul > li.separador{
        border-bottom: 1px #212121 solid;
        padding: 0px;
        margin: 0px;
    }
    #contenido-menu > ul > li > a > div{
        padding: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #icono-repositorio-inicio>svg{
        width: 30%;
    }
    #titulo-app{
        text-align: center;
        font-size: 18px;
    }
    #barra{
        height: 50px;
        line-height: 50px;
        z-index: 98;
    }
    #menu-lateral{
        -webkit-transform: translateX(-120%);
        -moz-transform: translateX(-120%);
        -ms-transform: translateX(-120%);
        -o-transform: translateX(-120%);
        transform: translateX(-120%);
        top: 0px;
        height: 100%;
        width: 250px;
        will-change: transform;
    }
    #menu-seccion-usuario{
        display: flex;
        flex-direction: column;
    }
    #menu-opciones-usuario{
        display: flex;
        flex-direction: row;
    }
    #menu-btn-opciones{
        display: block;
    }
    #menu-seccion-principal{
        height: calc(100% - 150px);
        top: 150px;
    }
    .menu_user_login, .menu_user_sign{
        display: block;
    }
    #boton_menu, #boton_atras{
        display: block;
        width: 60px;
        text-align: center;
        background-color: #616161;
    }
    #barra-seccion-usuario{
        display: none;
    }
    #contenedor-pagina{
        margin-left: 0px;
        height: calc(100% - 50px);
        width: 100%;
        margin-top: 50px;
        padding-top: 10px;
        overflow-y: auto;
    }
    #contenedor-pagina h1{
        font-size: 22px;
    }
    #contenedor-pagina h2{
        font-size: 20px;
    }
    .menu-abierto{
        -webkit-transform: translateX(0%) !important;
        -moz-transform: translateX(0%) !important;
        -ms-transform: translateX(0%) !important;
        -o-transform: translateX(0%) !important;
        transform: translateX(0%) !important;
    }

    .item_menu>.icono_item_menu{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        line-height: 100px;
        font-size: 50px;
    }
    .item_menu>.texto_item_menu{
        font-size: 14px;        
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #icono-repositorio-inicio>svg{
        width: 40%;
    }
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #icono-repositorio-inicio>svg{
        width: 60%;
    }
}
/*****************/
/** ANIMACIONES **/
/*****************/

/*Desvanecer-pagina*/
@-webkit-keyframes desvanecer-pagina {
    from { opacity: 1; -webkit-transform: translateY(0px);}
    to { opacity: 0; -webkit-transform: translateY(20px);}
}
@-o-keyframes desvanecer-pagina {
    from { opacity: 1; -o-transform: translateY(0px);}
    to { opacity: 0; -o-transform: translateY(20px);}
}
@-moz-keyframes desvanecer-pagina {
    from { opacity: 1; -moz-transform: translateY(0px);}
    to { opacity: 0; -moz-transform: translateY(20px);}
}
@keyframes desvanecer-pagina {
    from { opacity: 1;transform: translateY(0px);}
    to { opacity: 0; transform: translateY(20px);}
}
/*Aparecer-pagina*/
@-webkit-keyframes aparecer-pagina {
    from { opacity: 0; -webkit-transform: translateY(20px);}
    to { opacity: 1; -webkit-transform: translateY(0px);}
}
@-o-keyframes aparecer-pagina {
    from { opacity: 0; -o-transform: translateY(20px);}
    to { opacity: 1; -o-transform: translateY(0px);}
}
@-moz-keyframes aparecer-pagina {
    from { opacity: 0; -moz-transform: translateY(20px);}
    to { opacity: 1; -moz-transform: translateY(0px);}
}
@keyframes aparecer-pagina {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0px);}
}
/*Desvanecer overlay cargando*/
@-webkit-keyframes desvanecer_overlay {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-o-keyframes desvanecer_overlay {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes desvanecer_overlay {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes desvanecer_overlay {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Aparecer circulo menu */
/*Desvanecer overlay cargando*/
@-webkit-keyframes seccion_menu_item_in {
    from { opacity: 0; -webkit-transform: translateY(20px);}
    to { opacity: 1; -webkit-transform: translateY(0px);}
}
@-o-keyframes seccion_menu_item_in {
    from { opacity: 0; -o-transform: translateY(20px);}
    to { opacity: 1; -o-transform: translateY(0px);}
}
@-moz-keyframes seccion_menu_item_in {
    from { opacity: 0; -moz-transform: translateY(20px);}
    to { opacity: 1; -moz-transform: translateY(0px);}
}
@keyframes seccion_menu_item_in {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0px);}
}
